In [20]:
str1 = "Analytics Vidhya"
str2 = ""
for i in str1:
    str2 = i + str2
print("The original string is: ", str1)
print("The reversed string is: ", str2)

The original string is:  Analytics Vidhya
The reversed string is:  ayhdiV scitylanA

In [2]:
list1 = [1, 2, 3, 4]
list1.remove(2)
print(list1)
list1.pop(1)
print(list1)

[1, 3, 4]
[1, 4]

In [3]:
lst1 = ['W', 'a', 'w', 'b']
lst2 = ['e', ' ', 'riting', 'log']
lst3 = [x + y for x, y in zip(lst1, lst2)]
print(lst3)

['We', 'a ', 'writing', 'blog']

In [4]:
lst = [1, 2, 3, 4]
lst_final = []
for x in lst: 
    lst_final.append(x * x)
print(lst_final)

[1, 4, 9, 16]

In [5]:
a = 'This is a string'
li = a.split(' ')
print(li)
' '.join(li)

['This', 'is', 'a', 'string']

'This is a string'

In [6]:
s = 'Hello, World!'
print(len(s))

s = '   Hello, World!   '
print(s.strip())

s = 'Hello, World!'
print(s.replace('World', 'Universe'))

s = 'Hello, World!'
print(s.split(','))

s = 'Hello, World!'
print(s.upper())
s.lower()

13
Hello, World!
Hello, Universe!
['Hello', ' World!']
HELLO, WORLD!

'hello, world!'

In [7]:
from math import sqrt

def prime_or_not(number):
    for i in range(2, int(sqrt(number)) + 1):
        if number % i == 0:
            return 0
    return 1

In [8]:
def factorial(n):
    if n == 1:
        return n
    else:
        return n * factorial(n - 1)

In [9]:
def mean_tuple(numbers):
    result = [sum(x) / len(x) for x in zip(*numbers)]
    return result

In [11]:
import numpy as np

a = np.array([[10, 4], [8, 12]])
b = np.array([[15, 6]])
c = np.concatenate((a, b), axis=0)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x1 = [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5]
y1 = [8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 4.26, 10.84, 4.82, 5.68]
plt.scatter(x1, y1)
plt.show()